<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <i class="bi bi-airplane me-2"></i>
                    Next Journey
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/destinations">Destinos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mytravels">Mis viajes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/reviews">Reseñas</a></li>
                        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
                        

                        <!-- Admin -->
                        {{#isAdmin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin_users">Admin</a>
                        </li>
                        {{/isAdmin}}
                        <!--Profile-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownProfile" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"> Mi perfil</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">

                                {{#isLogged}}
                                <li>
                                    <a class="dropdown-item" href="/user_profile">Ver mi perfil</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                                </li>
                                {{/isLogged}}

                                {{^isLogged}}
                                <li>
                                    <a class="dropdown-item" href="/sign_in">Iniciar sesión</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/register">Registrarse</a>
                                </li>
                                {{/isLogged}}
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>